@using PagedList.Mvc
@model  PagedList.IPagedList<sellnbuyapps.Models.sbAdministrator>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}
<style>
    .ul.pagination {
        display: inline-block;
        padding: 0;
        margin: 0;
    }

    ul.pagination li {
        display: inline;
    }

        ul.pagination li a {
            color: black;
            float: left;
            padding: 8px 16px;
            text-decoration: none;
            transition: background-color .3s;
        }

            ul.pagination li a.active {
                background-color: #4CAF50;
                color: white;
            }

            ul.pagination li a:hover:not(.active) {
                background-color: #ddd;
            }
</style>
<div class="section-headline-wrap">
    <div class="section-headline">
        <h2>All Users</h2>
    </div>
</div>
<div class="section-wrap">
    <div class="section">
        <div class="content full">
            <div class="headline filter manage-project-header">
                <h4>Search For User</h4>

                <div class="search-form">

                    @using (Html.BeginForm("UserSearch", "Administrator", FormMethod.Get))
                    {
                        <input type="text" class="rounded" name="query" id="search_products" placeholder="Search products here...">
                        <input type="image" src=@Url.Content("/Content/images/search-icon.png") alt="search-icon" style="height: 30px;width: auto;margin-top: 17px;">
                    }
                </div>

            </div>
            <div class="product-showcase">
                <div class="product-list list full">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        <div class="product-item">
                            <figure class="product-preview-image small">
                                <img src="@Model[i].ProfilePicture" />
                            </figure>
                            <div class="product-info">

                                <p class="text-header">@Model[i].FirstName @Model[i].LastName</p>
                            </div>

                            <div class="product-info">
                                <p class="text-header small" style="margin-left: 15px;">@Model[i].EmailId</p>
                            </div>

                            <!-- ITEM METADATA -->
                            <div class="item-metadata">
                                <p class="text-header tiny">Mobile Number: <span>@Model[i].MobileNumber</span></p><br />
                                <p class="text-header tiny">Company URL: <span>@Model[i].CompanyURL</span></p><br />
                                <p class="text-header tiny">Modified On:<span>@Model[i].ModifiedOn</span></p>
                            </div>
                            <div class="price-info" style="margin-left:25px;">
                                <p class="price small" style="margin-top:-15px;">Action</p>
                                <p style="margin-left:-15px;">
                                    @Html.ActionLink("Details", "UserDetails", new { id = Model[i].ID }) |
                                    @Html.ActionLink("Delete", "DeleteUser", new { id = Model[i].ID })
                                </p>
                            </div>
                        </div>
                    }
                </div>
                <div class="clearfix"></div>
            </div>
            <span style="color:dimgray;margin:auto 45%;">@ViewBag.Message</span>
            @if (Model.PageCount > 1)
            {
                <div id="container" style="margin-left: 0px;">
                    <p></p>
                    <p></p>
                    <div class="pagination" style="color:dimgray">
                        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)
                        of @Model.PageCount   @Html.PagedListPager(Model, page => Url.Action("AllUsers", new { page }))
                    </div>
                </div>
            }
        </div>
    </div>
</div>
