@model sellnbuyapps.Models.sbAdministrator

@{
    ViewBag.Title = "DeleteUser";
    Layout = "~/Views/Shared/_AdminMasterPage.cshtml";
}
<div class="section-headline-wrap">
    <div class="section-headline">
        <h2>Delete User</h2>
    </div>
</div>
<div class="section-wrap">
    <div class="section">
        <article class="post blog-post">
            <div class="post-content with-title">
                <p class="text-header big">@Model.FirstName @Model.LastName</p>
                <div class="post-paragraph half">
                    <ul class="post-item-list">
                        <li>
                            <p class="text-header">Email Id</p>
                            <p style="margin: -16px 0 0 117px;">@Model.EmailId</p>
                        </li>

                        <li>
                            <p class="text-header">Password</p>
                            <p style="margin: -16px 0 0 117px;">@Model.Password</p>
                        </li>

                        <li>
                            <p class="text-header">Mobile Number</p>
                            <p style="margin: -16px 0 0 117px;">@Model.MobileNumber</p>
                        </li>
                    </ul>
                </div>
                <div class="post-paragraph half">
                    <ul class="post-item-list">
                        <li>
                            <p class="text-header">Company Url</p>
                            <p style="margin: -16px 0 0 117px;">@Model.CompanyURL</p>
                        </li>
                        <li>
                            <p class="text-header">Modified On</p>
                            <p style="margin: -16px 0 0 117px;">@Model.ModifiedOn</p>
                        </li>
                    </ul>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-actions no-color">
                    <button id="btnSubmit" class="button mid dark" style="width: 10%;margin: -40px 0 15px 40px;">
                        Delete <span class="primary">Now!</span>
                    </button>

                    <span>
                        <input id="BtnTest1" type="button" value="Back" style="width:10%; margin: -57px 0 15px 160px;" class="button mid dark" onclick="window.location.href = '/Administrator/AllUsers'" />
                    </span>

                </div>
                <span style="color:dimgray">@ViewBag.Message</span>
            }
            <hr class="line-separator">
        </article>
    </div>
</div>
