@model sellnbuyapps.Models.sbForgotPassword

@{
    ViewBag.Title = "ForgotPassword";
    Layout = "~/Views/Shared/_MasterPage.cshtml";
}
<div class="section-headline-wrap">
    <div class="section-headline">
        <h2>Forgot Password</h2>
    </div>
</div>

<div class="section-wrap">
    <div class="section">
        <div align="center" style="margin-bottom:10px;">
            @if (ViewBag.Message == "Reset password link has been sent to your email id.")
            {
                <span style="color:green;">@ViewBag.Message</span>
            }
            else
            {
                <span style="color:red;">@ViewBag.Message</span>
            }
        </div>
        <div class="form-popup">
            <div class="form-popup-content">
                <h4 class="popup-title">Forgot Password</h4>
                <!-- LINE SEPARATOR -->
                <hr class="line-separator">

                @using (Html.BeginForm())
                {
                @Html.AntiForgeryToken()

                @Html.ValidationSummary(true, "", new { @style = "color:Red" })

                @Html.LabelFor(model => model.EmailId, htmlAttributes: new { @class = "rl-label" })

                @Html.EditorFor(model => model.EmailId, new { htmlAttributes = new { @class = "form-control", @style = "margin:0 0 0 0" } })
                @Html.ValidationMessageFor(model => model.EmailId, "", new { @style = "color:Red" })

                <span>
                    <button class="button mid dark" style="margin: 15px 0 10px 0;">
                        Submit <span class="primary">Now!</span>
                    </button>
                </span>
                
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
}
